<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Les-imports-et-initialisations-des-variables" data-toc-modified-id="Les-imports-et-initialisations-des-variables-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Les imports et initialisations des variables</a></span><ul class="toc-item"><li><span><a href="#Fonctions-utilitaires" data-toc-modified-id="Fonctions-utilitaires-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Fonctions utilitaires</a></span></li></ul></li><li><span><a href="#Les-fichiers-de-données" data-toc-modified-id="Les-fichiers-de-données-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Les fichiers de données</a></span></li><li><span><a href="#orders_dataset" data-toc-modified-id="orders_dataset-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>orders_dataset</a></span></li><li><span><a href="#order_items_dataset" data-toc-modified-id="order_items_dataset-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>order_items_dataset</a></span></li><li><span><a href="#olist_order_payments_dataset" data-toc-modified-id="olist_order_payments_dataset-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>olist_order_payments_dataset</a></span></li><li><span><a href="#olist_order_reviews_dataset" data-toc-modified-id="olist_order_reviews_dataset-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>olist_order_reviews_dataset</a></span></li><li><span><a href="#olist_customers_dataset" data-toc-modified-id="olist_customers_dataset-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>olist_customers_dataset</a></span></li><li><span><a href="#olist_sellers_dataset" data-toc-modified-id="olist_sellers_dataset-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>olist_sellers_dataset</a></span></li><li><span><a href="#olist_geolocation_dataset" data-toc-modified-id="olist_geolocation_dataset-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>olist_geolocation_dataset</a></span></li><li><span><a href="#Les-clients" data-toc-modified-id="Les-clients-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Les clients</a></span><ul class="toc-item"><li><span><a href="#L'analyse-des-clients-doit-être-faite-sur-le-numéro-unique-du-client-pas-sur-l'identifiant" data-toc-modified-id="L'analyse-des-clients-doit-être-faite-sur-le-numéro-unique-du-client-pas-sur-l'identifiant-10.1"><span class="toc-item-num">10.1&nbsp;&nbsp;</span>L'analyse des clients doit être faite sur le numéro unique du client pas sur l'identifiant</a></span></li><li><span><a href="#La-création-de-la-table-clients-dans-Oracle" data-toc-modified-id="La-création-de-la-table-clients-dans-Oracle-10.2"><span class="toc-item-num">10.2&nbsp;&nbsp;</span>La création de la table clients dans Oracle</a></span></li></ul></li><li><span><a href="#Les-données-de-géolocalisation" data-toc-modified-id="Les-données-de-géolocalisation-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Les données de géolocalisation</a></span><ul class="toc-item"><li><span><a href="#La-transformation-des-noms-des-villes" data-toc-modified-id="La-transformation-des-noms-des-villes-11.1"><span class="toc-item-num">11.1&nbsp;&nbsp;</span>La transformation des noms des villes</a></span></li></ul></li><li><span><a href="#Les-données-de-géolocalisation-des-vendeurs" data-toc-modified-id="Les-données-de-géolocalisation-des-vendeurs-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Les données de géolocalisation des vendeurs</a></span></li><li><span><a href="#Les-données-des-commandes" data-toc-modified-id="Les-données-des-commandes-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>Les données des commandes</a></span></li><li><span><a href="#Les-données-des-détails-commandes" data-toc-modified-id="Les-données-des-détails-commandes-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>Les données des détails commandes</a></span></li><li><span><a href="#Les-données-des-descriptions-commandes" data-toc-modified-id="Les-données-des-descriptions-commandes-15"><span class="toc-item-num">15&nbsp;&nbsp;</span>Les données des descriptions commandes</a></span></li><li><span><a href="#Les-données-des-paiements" data-toc-modified-id="Les-données-des-paiements-16"><span class="toc-item-num">16&nbsp;&nbsp;</span>Les données des paiements</a></span></li><li><span><a href="#Les-données-des-produits" data-toc-modified-id="Les-données-des-produits-17"><span class="toc-item-num">17&nbsp;&nbsp;</span>Les données des produits</a></span></li></ul></div>

# Les imports et initialisations des variables

In [1]:
import pandas as pd 
import seaborn as sns
import warnings 
import os
import sqlalchemy
import pickle
import re
import unicodedata

from datetime import datetime
#warnings.filterwarnings(action="ignore")

%pylab inline
%load_ext sql

plt.style.use('seaborn-darkgrid')
sns.set(font_scale=3)

engine = sqlalchemy.create_engine("oracle+cx_oracle://stagbi26:Phoenix#Icar67@51.91.76.248:15440/coursdb")
connection = engine.connect()
os.chdir(r"C:\SimplonIA\donnees")

Populating the interactive namespace from numpy and matplotlib

C:\ProgramData\Anaconda3\envs\spark_py38\lib\site-packages\IPython\core\magics\pylab.py:159: UserWarning: pylab import has clobbered these variables: ['datetime']
`%matplotlib` prevents importing * from pylab and numpy
  warn("pylab import has clobbered these variables: %s"  % clobbered +
C:\ProgramData\Anaconda3\envs\spark_py38\lib\site-packages\sqlalchemy\dialects\oracle\base.py:1368: SAWarning: Oracle version (18, 3, 0, 0, 0) is known to have a maximum identifier length of 128, rather than the historical default of 30. SQLAlchemy 1.4 will use 128 for this database; please set max_identifier_length=128 in create_engine() in order to test the application with this new length, or set to 30 in order to assure that 30 continues to be used.  In particular, pay close attention to the behavior of database migrations as dynamically generated names may change. See the section 'Max Identifier Lengths' in the SQLAlchemy Oracle dialect documentation for background.
  util.warn(

## Fonctions utilitaires

In [2]:
def nettoyer(valeur):
    nk = unicodedata.normalize('NFKD', valeur.lower())
    valeur = str(nk.encode('ASCII', 'ignore').decode('ASCII'))
    return re.compile('[^\w ]').sub('', valeur).strip().replace('  ',' ')

# Les fichiers de données 
>> La liste des fichiers de donnée du projet

In [4]:
fichiers = {}
for dirname, _, filenames in os.walk('brazilian_e-commerce'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
        fichiers[filename] = pd.read_csv(os.path.join(dirname, filename),parse_dates=True,infer_datetime_format=True)

brazilian_e-commerce\olist_closed_deals_dataset.csv
brazilian_e-commerce\olist_customers_dataset.csv
brazilian_e-commerce\olist_geolocation_dataset.csv
brazilian_e-commerce\olist_marketing_qualified_leads_dataset.csv
brazilian_e-commerce\olist_orders_dataset.csv
brazilian_e-commerce\olist_order_items_dataset.csv
brazilian_e-commerce\olist_order_payments_dataset.csv
brazilian_e-commerce\olist_order_reviews_dataset.csv
brazilian_e-commerce\olist_products_dataset.csv
brazilian_e-commerce\olist_sellers_dataset.csv
brazilian_e-commerce\product_category_name_translation.csv

# orders_dataset

In [16]:
donnees = fichiers['olist_orders_dataset.csv']

In [17]:
donnees.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [18]:
donnees.dtypes

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

In [19]:
donnees['order_purchase_timestamp']=donnees.order_purchase_timestamp.apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d %H:%M:%S',errors='ignore'))    
donnees['order_approved_at']=donnees.order_approved_at.apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d %H:%M:%S',errors='ignore'))            
donnees['order_delivered_carrier_date']=donnees.order_delivered_carrier_date.apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d %H:%M:%S',errors='ignore')) 
donnees['order_delivered_customer_date']=donnees.order_delivered_customer_date.apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d %H:%M:%S',errors='ignore'))
donnees['order_estimated_delivery_date']=donnees.order_estimated_delivery_date.apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d %H:%M:%S',errors='ignore'))

In [20]:
donnees.dtypes

order_id                                 object
customer_id                              object
order_status                             object
order_purchase_timestamp         datetime64[ns]
order_approved_at                datetime64[ns]
order_delivered_carrier_date     datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
dtype: object

In [21]:
donnees.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [22]:
donnees.to_sql('orders_dataset', 
               con=connection,
               if_exists='replace',
               index=False,
               dtype={ "order_id"                      :sqlalchemy.types.String(80),
                       "customer_id"                   :sqlalchemy.types.String(80),
                       "order_status"                  :sqlalchemy.types.String(80),
                       "order_purchase_timestamp"      :sqlalchemy.types.DateTime(),
                       "order_approved_at"             :sqlalchemy.types.DateTime(),
                       "order_delivered_carrier_date"  :sqlalchemy.types.DateTime(),
                       "order_delivered_customer_date" :sqlalchemy.types.DateTime(),
                       "order_estimated_delivery_date" :sqlalchemy.types.DateTime()
                      })

# order_items_dataset

In [9]:
donnees = fichiers['olist_order_items_dataset.csv']

In [10]:
donnees.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [11]:
donnees.dtypes

order_id                object
order_item_id            int64
product_id              object
seller_id               object
shipping_limit_date     object
price                  float64
freight_value          float64
dtype: object

In [12]:
donnees['shipping_limit_date'] = donnees.shipping_limit_date.apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d %H:%M:%S',errors='ignore'))

In [13]:
donnees.dtypes

order_id                       object
order_item_id                   int64
product_id                     object
seller_id                      object
shipping_limit_date    datetime64[ns]
price                         float64
freight_value                 float64
dtype: object

In [14]:
donnees.isna().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [15]:
donnees.to_sql('order_items_dataset', 
               con=connection,
               if_exists='replace',
               index=False,
               dtype={ "order_id"             : sqlalchemy.types.String(80),
                       "order_item_id"        : sqlalchemy.types.Integer(),
                       "product_id"           : sqlalchemy.types.String(80),
                       "seller_id"            : sqlalchemy.types.String(80),
                       "shipping_limit_date"  : sqlalchemy.types.DateTime(),
                       "price"                : sqlalchemy.types.Float(),
                       "freight_value"        : sqlalchemy.types.Float()
                      })

# olist_order_payments_dataset

In [9]:
donnees = fichiers['olist_order_payments_dataset.csv']

In [13]:
donnees.groupby(['order_id']).agg({'payment_value':sum})

                                  payment_value
order_id
00010242fe8c5a6d1ba2dd792cb16214          72.19
00018f77f2f0320c557190d7a144bdd3         259.83
000229ec398224ef6ca0657da4fc703e         216.87
00024acbcdf0a6daa1e931b038114c75          25.78
00042b26cf59d7ce69dfabb4e55b4fd9         218.04
...                                         ...
fffc94f6ce00a00581880bf54a75a037         343.40
fffcd46ef2263f404302a634eb57f7eb         386.53
fffce4705a9662cd70adb13d4a31832d         116.85
fffe18544ffabc95dfada21779c9644f          64.71
fffe41c64501cc87c801fd61db3f6244          55.79

[99440 rows x 1 columns]

In [14]:
donnees.payment_type.unique()

array(['credit_card', 'boleto', 'voucher', 'debit_card', 'not_defined'],
      dtype=object)

In [15]:
donnees.pivot_table( index='order_id',
                     columns='payment_type',
                     values=['payment_installments','payment_value'],
                     fill_value=0)

                                 payment_installments                         \
payment_type                                   boleto credit_card debit_card
order_id
00010242fe8c5a6d1ba2dd792cb16214                    0         2.0          0
00018f77f2f0320c557190d7a144bdd3                    0         3.0          0
000229ec398224ef6ca0657da4fc703e                    0         5.0          0
00024acbcdf0a6daa1e931b038114c75                    0         2.0          0
00042b26cf59d7ce69dfabb4e55b4fd9                    0         3.0          0
...                                               ...         ...        ...
fffc94f6ce00a00581880bf54a75a037                    1         0.0          0
fffcd46ef2263f404302a634eb57f7eb                    1         0.0          0
fffce4705a9662cd70adb13d4a31832d                    0         3.0          0
fffe18544ffabc95dfada21779c9644f                    0         3.0          0
fffe41c64501cc87c801fd61db3f6244                    0         1.0          0

                                                     payment_value  \
payment_type                     not_defined voucher        boleto
order_id
00010242fe8c5a6d1ba2dd792cb16214           0       0          0.00
00018f77f2f0320c557190d7a144bdd3           0       0          0.00
000229ec398224ef6ca0657da4fc703e           0       0          0.00
00024acbcdf0a6daa1e931b038114c75           0       0          0.00
00042b26cf59d7ce69dfabb4e55b4fd9           0       0          0.00
...                                      ...     ...           ...
fffc94f6ce00a00581880bf54a75a037           0       0        343.40
fffcd46ef2263f404302a634eb57f7eb           0       0        386.53
fffce4705a9662cd70adb13d4a31832d           0       0          0.00
fffe18544ffabc95dfada21779c9644f           0       0          0.00
fffe41c64501cc87c801fd61db3f6244           0       0          0.00


payment_type                     credit_card debit_card not_defined voucher
order_id
00010242fe8c5a6d1ba2dd792cb16214       72.19        0.0           0     0.0
00018f77f2f0320c557190d7a144bdd3      259.83        0.0           0     0.0
000229ec398224ef6ca0657da4fc703e      216.87        0.0           0     0.0
00024acbcdf0a6daa1e931b038114c75       25.78        0.0           0     0.0
00042b26cf59d7ce69dfabb4e55b4fd9      218.04        0.0           0     0.0
...                                      ...        ...         ...     ...
fffc94f6ce00a00581880bf54a75a037        0.00        0.0           0     0.0
fffcd46ef2263f404302a634eb57f7eb        0.00        0.0           0     0.0
fffce4705a9662cd70adb13d4a31832d      116.85        0.0           0     0.0
fffe18544ffabc95dfada21779c9644f       64.71        0.0           0     0.0
fffe41c64501cc87c801fd61db3f6244       55.79        0.0           0     0.0

[99440 rows x 10 columns]

In [10]:
donnees.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [16]:
donnees = donnees.pivot_table(index='order_id',columns='payment_type',values=['payment_installments','payment_value'],fill_value=0)

In [11]:
donnees.pivot_table( index='order_id',columns='payment_type',
                     values=['payment_installments','payment_value'],
                     fill_value=0, dropna=False)

                                 payment_installments                         \
payment_type                                   boleto credit_card debit_card
order_id
00010242fe8c5a6d1ba2dd792cb16214                    0         2.0          0
00018f77f2f0320c557190d7a144bdd3                    0         3.0          0
000229ec398224ef6ca0657da4fc703e                    0         5.0          0
00024acbcdf0a6daa1e931b038114c75                    0         2.0          0
00042b26cf59d7ce69dfabb4e55b4fd9                    0         3.0          0
...                                               ...         ...        ...
fffc94f6ce00a00581880bf54a75a037                    1         0.0          0
fffcd46ef2263f404302a634eb57f7eb                    1         0.0          0
fffce4705a9662cd70adb13d4a31832d                    0         3.0          0
fffe18544ffabc95dfada21779c9644f                    0         3.0          0
fffe41c64501cc87c801fd61db3f6244                    0         1.0          0

                                                     payment_value  \
payment_type                     not_defined voucher        boleto
order_id
00010242fe8c5a6d1ba2dd792cb16214           0       0          0.00
00018f77f2f0320c557190d7a144bdd3           0       0          0.00
000229ec398224ef6ca0657da4fc703e           0       0          0.00
00024acbcdf0a6daa1e931b038114c75           0       0          0.00
00042b26cf59d7ce69dfabb4e55b4fd9           0       0          0.00
...                                      ...     ...           ...
fffc94f6ce00a00581880bf54a75a037           0       0        343.40
fffcd46ef2263f404302a634eb57f7eb           0       0        386.53
fffce4705a9662cd70adb13d4a31832d           0       0          0.00
fffe18544ffabc95dfada21779c9644f           0       0          0.00
fffe41c64501cc87c801fd61db3f6244           0       0          0.00


payment_type                     credit_card debit_card not_defined voucher
order_id
00010242fe8c5a6d1ba2dd792cb16214       72.19        0.0           0     0.0
00018f77f2f0320c557190d7a144bdd3      259.83        0.0           0     0.0
000229ec398224ef6ca0657da4fc703e      216.87        0.0           0     0.0
00024acbcdf0a6daa1e931b038114c75       25.78        0.0           0     0.0
00042b26cf59d7ce69dfabb4e55b4fd9      218.04        0.0           0     0.0
...                                      ...        ...         ...     ...
fffc94f6ce00a00581880bf54a75a037        0.00        0.0           0     0.0
fffcd46ef2263f404302a634eb57f7eb        0.00        0.0           0     0.0
fffce4705a9662cd70adb13d4a31832d      116.85        0.0           0     0.0
fffe18544ffabc95dfada21779c9644f       64.71        0.0           0     0.0
fffe41c64501cc87c801fd61db3f6244       55.79        0.0           0     0.0

[99440 rows x 10 columns]

In [17]:
donnees.isna().sum()

                      payment_type
payment_installments  boleto          0
                      credit_card     0
                      debit_card      0
                      not_defined     0
                      voucher         0
payment_value         boleto          0
                      credit_card     0
                      debit_card      0
                      not_defined     0
                      voucher         0
dtype: int64

In [18]:
donnees.head()

                                 payment_installments                         \
payment_type                                   boleto credit_card debit_card
order_id
00010242fe8c5a6d1ba2dd792cb16214                    0         2.0          0
00018f77f2f0320c557190d7a144bdd3                    0         3.0          0
000229ec398224ef6ca0657da4fc703e                    0         5.0          0
00024acbcdf0a6daa1e931b038114c75                    0         2.0          0
00042b26cf59d7ce69dfabb4e55b4fd9                    0         3.0          0

                                                     payment_value  \
payment_type                     not_defined voucher        boleto
order_id
00010242fe8c5a6d1ba2dd792cb16214           0       0           0.0
00018f77f2f0320c557190d7a144bdd3           0       0           0.0
000229ec398224ef6ca0657da4fc703e           0       0           0.0
00024acbcdf0a6daa1e931b038114c75           0       0           0.0
00042b26cf59d7ce69dfabb4e55b4fd9           0       0           0.0


payment_type                     credit_card debit_card not_defined voucher
order_id
00010242fe8c5a6d1ba2dd792cb16214       72.19        0.0           0     0.0
00018f77f2f0320c557190d7a144bdd3      259.83        0.0           0     0.0
000229ec398224ef6ca0657da4fc703e      216.87        0.0           0     0.0
00024acbcdf0a6daa1e931b038114c75       25.78        0.0           0     0.0
00042b26cf59d7ce69dfabb4e55b4fd9      218.04        0.0           0     0.0

In [34]:
donnees.describe()

             payment_installments                                            \
payment_type               boleto   credit_card    debit_card   not_defined
count                99440.000000  99440.000000  99440.000000  99440.000000
mean                     0.198954      2.697808      0.015366      0.000030
std                      0.399215      2.903636      0.123004      0.005493
min                      0.000000      0.000000      0.000000      0.000000
25%                      0.000000      1.000000      0.000000      0.000000
50%                      0.000000      2.000000      0.000000      0.000000
75%                      0.000000      4.000000      0.000000      0.000000
max                      1.000000     24.000000      1.000000      1.000000

                           payment_value                              \
payment_type       voucher        boleto   credit_card    debit_card
count         99440.000000  99440.000000  99440.000000  99440.000000
mean              0.038878     28.855202    125.614499      2.191942
std               0.193304    111.479625    206.116971     35.157809
min               0.000000      0.000000      0.000000      0.000000
25%               0.000000      0.000000     23.930000      0.000000
50%               0.000000      0.000000     77.230000      0.000000
75%               0.000000      0.000000    153.740000      0.000000
max               1.000000   7274.880000  13664.080000   4445.500000


payment_type not_defined       voucher
count            99440.0  99440.000000
mean                 0.0      3.232100
std                  0.0     30.443595
min                  0.0      0.000000
25%                  0.0      0.000000
50%                  0.0      0.000000
75%                  0.0      0.000000
max                  0.0   3184.340000

In [19]:
donnees.columns = [str(col[0]).replace('payment_','') + '_' + col[1] for col in donnees.columns]

In [20]:
donnees.columns

Index(['installments_boleto', 'installments_credit_card',
       'installments_debit_card', 'installments_not_defined',
       'installments_voucher', 'value_boleto', 'value_credit_card',
       'value_debit_card', 'value_not_defined', 'value_voucher'],
      dtype='object')

In [22]:
donnees.reset_index().head()

,order_id,installments_boleto,installments_credit_card,installments_debit_card,installments_not_defined,installments_voucher,value_boleto,value_credit_card,value_debit_card,value_not_defined,value_voucher
0,00010242fe8c5a6d1ba2dd792cb16214,0,2.0,0,0,0,0.0,72.19,0.0,0,0.0
1,00018f77f2f0320c557190d7a144bdd3,0,3.0,0,0,0,0.0,259.83,0.0,0,0.0
2,000229ec398224ef6ca0657da4fc703e,0,5.0,0,0,0,0.0,216.87,0.0,0,0.0
3,00024acbcdf0a6daa1e931b038114c75,0,2.0,0,0,0,0.0,25.78,0.0,0,0.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,0,3.0,0,0,0,0.0,218.04,0.0,0,0.0

In [24]:
donnees.reset_index().order_id.nunique()

99440

In [42]:
donnees.drop(columns=['installments_boleto','installments_debit_card',
                      'installments_not_defined','installments_voucher','value_not_defined'],inplace=True)

In [44]:
donnees.reset_index(inplace=True)

In [46]:
donnees.dtypes

order_id                     object
installments_credit_card    float64
value_boleto                float64
value_credit_card           float64
value_debit_card            float64
value_voucher               float64
dtype: object

In [47]:
donnees.to_sql('order_payments_dataset', 
               con=connection,
               if_exists='replace',
               index=False,
               dtype={ "order_id"                 :sqlalchemy.types.String(80),
                       "installments_credit_card" :sqlalchemy.types.Float(),
                       "value_boleto"             :sqlalchemy.types.Float(),
                       "value_credit_card"        :sqlalchemy.types.Float(),
                       "value_debit_card"         :sqlalchemy.types.Float(),
                       "value_voucher"            :sqlalchemy.types.Float()
                      })

# olist_order_reviews_dataset

In [48]:
donnees = fichiers['olist_order_reviews_dataset.csv']

In [43]:
donnees.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01,2018-03-02 10:26:53

In [49]:
commandes = fichiers['olist_orders_dataset.csv']

In [34]:
commandes.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date'],
      dtype='object')

In [50]:
donnees = commandes[['order_id', 'order_purchase_timestamp']].merge(donnees,on='order_id')

In [51]:
donnees.columns

Index(['order_id', 'order_purchase_timestamp', 'review_id', 'review_score',
       'review_comment_title', 'review_comment_message',
       'review_creation_date', 'review_answer_timestamp'],
      dtype='object')

In [52]:
donnees.review_creation_date = donnees.review_creation_date.apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d %H:%M:%S',errors='ignore'))
donnees.review_answer_timestamp = donnees.review_answer_timestamp.apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d %H:%M:%S',errors='ignore'))
donnees.order_purchase_timestamp = donnees.order_purchase_timestamp.apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d %H:%M:%S',errors='ignore'))

In [53]:
donnees['creation'] = (donnees.review_creation_date - donnees.order_purchase_timestamp).dt.days
donnees['answer'] = (donnees.review_answer_timestamp - donnees.review_creation_date).dt.days

In [57]:
donnees.dtypes

order_id                            object
order_purchase_timestamp    datetime64[ns]
review_id                           object
review_score                         int64
review_comment_title                object
review_comment_message              object
review_creation_date        datetime64[ns]
review_answer_timestamp     datetime64[ns]
creation                             int64
answer                               int64
comment_message                      int64
dtype: object

In [56]:
donnees['comment_message'] = donnees.review_comment_message.apply(lambda x : len(str(x)))

In [59]:
donnees.drop(columns=['order_purchase_timestamp','review_creation_date', 
                      'review_answer_timestamp','review_comment_title', 
                      'review_comment_message'],inplace=True)

In [60]:
donnees.head()

,order_id,review_id,review_score,creation,answer,comment_message
0,e481f51cbdc54678b7cc49136f2d6af7,a54f0611adc9ed256b57ede6b6eb5114,4,8,1,170
1,53cdb2fc8bc7dce0b6741e2150273451,8d5266042046a06655c8db133d120ba5,4,14,0,20
2,47770eb9100c2d0c44946d9cf07ec65d,e73b67b67587f7644d5bd1a52deb1b01,5,9,4,3
3,949d5b44dbf5de918fe9c16f97b45f8a,359d03e676b3c069f62cadba8dd3f6e8,5,14,2,105
4,ad21c59c0840e6cb83a9ceb5573f8159,e50934924e227544ba8246aeb3770dd4,5,3,1,3

In [69]:
df1 = donnees.pivot_table(index='order_id',
                              columns='review_score',
                              values=['review_id'], 
                              aggfunc=['count'],fill_value=0)
df1.columns = [str(col[1]).replace('id','') + str(col[2]) for col in df1.columns]
df1.head()

,review_1,review_2,review_3,review_4,review_5
order_id,,,,,
00010242fe8c5a6d1ba2dd792cb16214,0,0,0,0,1
00018f77f2f0320c557190d7a144bdd3,0,0,0,1,0
000229ec398224ef6ca0657da4fc703e,0,0,0,0,1
00024acbcdf0a6daa1e931b038114c75,0,0,0,1,0
00042b26cf59d7ce69dfabb4e55b4fd9,0,0,0,0,1

In [70]:
df2 = donnees.pivot_table(index='order_id',
                              columns='review_score',
                              values=['creation','answer','comment_message'], 
                              fill_value=0)
df2.columns = [str(col[0]) + str(col[1]) for col in df2.columns]
df2.head()

,answer1,answer2,answer3,answer4,answer5,comment_message1,comment_message2,comment_message3,comment_message4,comment_message5,creation1,creation2,creation3,creation4,creation5
order_id,,,,,,,,,,,,,,,
00010242fe8c5a6d1ba2dd792cb16214,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,46.0,0.0,0,0.0,0.0,7.0
00018f77f2f0320c557190d7a144bdd3,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0,0.0,16.0,0.0
000229ec398224ef6ca0657da4fc703e,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,90.0,0.0,0,0.0,0.0,8.0
00024acbcdf0a6daa1e931b038114c75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0,0.0,6.0,0.0
00042b26cf59d7ce69dfabb4e55b4fd9,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,39.0,0.0,0,0.0,0.0,25.0

In [71]:
donnees = df1.join(df2)

In [72]:
donnees.head()

,review_1,review_2,review_3,review_4,review_5,answer1,answer2,answer3,answer4,answer5,comment_message1,comment_message2,comment_message3,comment_message4,comment_message5,creation1,creation2,creation3,creation4,creation5
order_id,,,,,,,,,,,,,,,,,,,,
00010242fe8c5a6d1ba2dd792cb16214,0,0,0,0,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,46.0,0.0,0,0.0,0.0,7.0
00018f77f2f0320c557190d7a144bdd3,0,0,0,1,0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0,0.0,16.0,0.0
000229ec398224ef6ca0657da4fc703e,0,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,90.0,0.0,0,0.0,0.0,8.0
00024acbcdf0a6daa1e931b038114c75,0,0,0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0,0.0,6.0,0.0
00042b26cf59d7ce69dfabb4e55b4fd9,0,0,0,0,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,39.0,0.0,0,0.0,0.0,25.0

In [73]:
donnees.isna().sum()

review_1            0
review_2            0
review_3            0
review_4            0
review_5            0
answer1             0
answer2             0
answer3             0
answer4             0
answer5             0
comment_message1    0
comment_message2    0
comment_message3    0
comment_message4    0
comment_message5    0
creation1           0
creation2           0
creation3           0
creation4           0
creation5           0
dtype: int64

In [76]:
donnees.reset_index(inplace=True)

In [77]:
donnees.dtypes

order_id             object
review_1              int64
review_2              int64
review_3              int64
review_4              int64
review_5              int64
answer1             float64
answer2             float64
answer3             float64
answer4             float64
answer5             float64
comment_message1    float64
comment_message2    float64
comment_message3    float64
comment_message4    float64
comment_message5    float64
creation1           float64
creation2             int64
creation3           float64
creation4           float64
creation5           float64
dtype: object

In [78]:
donnees.to_sql('order_reviews_dataset', 
               con=connection,
               if_exists='replace',
               index=False,
               dtype={ "order_id"        :sqlalchemy.types.String(80),
                       "review_1"        :sqlalchemy.types.Integer(),
                       "review_2"        :sqlalchemy.types.Integer(),
                       "review_3"        :sqlalchemy.types.Integer(),
                       "review_4"        :sqlalchemy.types.Integer(),
                       "review_5"        :sqlalchemy.types.Integer(),
                       "answer1"         :sqlalchemy.types.Float(),
                       "answer2"         :sqlalchemy.types.Float(),
                       "answer3"         :sqlalchemy.types.Float(),
                       "answer4"         :sqlalchemy.types.Float(),
                       "answer5"         :sqlalchemy.types.Float(),
                       "comment_message1":sqlalchemy.types.Float(),
                       "comment_message2":sqlalchemy.types.Float(),
                       "comment_message3":sqlalchemy.types.Float(),
                       "comment_message4":sqlalchemy.types.Float(),
                       "comment_message5":sqlalchemy.types.Float(),
                       "creation1"       :sqlalchemy.types.Float(),
                       "creation2"       :sqlalchemy.types.Integer(),
                       "creation3"       :sqlalchemy.types.Float(),
                       "creation4"       :sqlalchemy.types.Float(),
                       "creation5"       :sqlalchemy.types.Float()
                      })

# olist_customers_dataset

In [75]:
donnees = fichiers['olist_customers_dataset.csv']

In [76]:
donnees.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [77]:
donnees.describe(include='all')

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
count,99441,99441,99441.000000,99441,99441
unique,99441,96096,NaN,4119,27
top,5870764232b1c85c58f471bea1c2f982,8d50f5eadf50201ccdcedfb9e2ac8455,NaN,sao paulo,SP
freq,1,17,NaN,15540,41746
mean,NaN,NaN,35137.474583,NaN,NaN
std,NaN,NaN,29797.938996,NaN,NaN
min,NaN,NaN,1003.000000,NaN,NaN
25%,NaN,NaN,11347.000000,NaN,NaN
50%,NaN,NaN,24416.000000,NaN,NaN
75%,NaN,NaN,58900.000000,NaN,NaN
max,NaN,NaN,99990.000000,NaN,NaN

In [82]:
donnees.customer_city.unique()

array(['franca', 'sao bernardo do campo', 'sao paulo', ...,
       'monte bonito', 'sao rafael', 'eugenio de castro'], dtype=object)

In [83]:
donnees.dtypes

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

In [84]:
donnees.to_sql('customers_dataset', 
                   con=connection,
                   if_exists='replace',
                   index=False,
                   dtype={ "customer_id": sqlalchemy.types.String(80),
                           "customer_unique_id": sqlalchemy.types.String(80),
                           "customer_zip_code_prefix": sqlalchemy.types.Integer(),
                           "customer_city": sqlalchemy.types.String(120),
                           "customer_state": sqlalchemy.types.String(10)
                          })

# olist_sellers_dataset

In [85]:
donnees = fichiers['olist_sellers_dataset.csv']

In [86]:
donnees.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [87]:
donnees.to_sql('sellers_dataset', 
                   con=connection,
                   if_exists='replace',
                   index=False,
                   dtype={ "seller_id": sqlalchemy.types.String(80),
                           "customer_zip_code_prefix": sqlalchemy.types.Integer(),
                           "seller_city": sqlalchemy.types.String(120),
                           "seller_state": sqlalchemy.types.String(10)
                          })

# olist_geolocation_dataset

In [88]:
donnees = fichiers['olist_geolocation_dataset.csv']

In [89]:
donnees.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [91]:
donnees.geolocation_city = donnees.geolocation_city.apply(nettoyer)

In [92]:
donnees.geolocation_zip_code_prefix.nunique()

19015

In [96]:
donnees[['geolocation_zip_code_prefix','geolocation_city','geolocation_state']].drop_duplicates().shape

(19581, 3)

In [97]:
dictEtats = {'AC':'Acre',              
             'AL':'Alagoas',
             'AP':'Amapá',
             'AM':'Amazonas',
             'BA':'Bahia',
             'CE':'Ceará',
             'ES':'Espírito Santo',
             'GO':'Goiás',
             'MA':'Maranhão',
             'MT':'Mato Grosso',
             'MS':'Mato Grosso do Sul', 
             'MG':'Minas Gerais',
             'PA':'Pará',
             'PB':'Paraïba',
             'PR':'Paraná',
             'PE':'Pernambouc',
             'PI':'Piauí',
             'RJ':'Rio de Janeiro',
             'RN':'Rio Grande do Norte',  
             'RS':'Rio Grande do Sul',
             'RO':'Rondônia',
             'RR':'Roraima',
             'SC':'Santa Catarina',
             'SP':'São Paulo',
             'SE':'Sergipe',
             'TO':'Tocantins',
             'DF':'District fédéral'} 
donnees['nom_etat'] = donnees.geolocation_state.apply(lambda x: dictEtats[x])
donnees.geolocation_city       = donnees.geolocation_city.apply(lambda x: str(x).title())

In [98]:
donnees.columns

Index(['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng',
       'geolocation_city', 'geolocation_state', 'nom_etat'],
      dtype='object')

In [100]:
geo01 = donnees.groupby(['geolocation_zip_code_prefix']).agg({'geolocation_lat':['min','max','mean'],
                                          'geolocation_lng':['min','max','mean']})

In [103]:
geo01.columns = [ str(col[0]).replace('geolocation_','')+'_'+col[1] for col in geo01.columns ]

In [104]:
geo01.reset_index(inplace=True)

In [106]:
geo02 = donnees.assign( rn = donnees.sort_values(
                                                 ['geolocation_city','geolocation_lat','geolocation_lng']
                                                 ).groupby(['geolocation_zip_code_prefix']).cumcount()+1
                  ).query('rn < 2').sort_values(['geolocation_zip_code_prefix','rn']).drop(columns=['rn','geolocation_lat','geolocation_lng'])

In [110]:
donnees = geo02.merge(geo01,on='geolocation_zip_code_prefix')

In [112]:
donnees.head()

,geolocation_zip_code_prefix,geolocation_city,geolocation_state,nom_etat,lat_min,lat_max,lat_mean,lng_min,lng_max,lng_mean
0,1001,Sao Paulo,SP,São Paulo,-23.551427,-23.549292,-23.550190,-46.634410,-46.633559,-46.634024
1,1002,Sao Paulo,SP,São Paulo,-23.548878,-23.544641,-23.548146,-46.636361,-46.633180,-46.634979
2,1003,Sao Paulo,SP,São Paulo,-23.549083,-23.548901,-23.548994,-46.637157,-46.634862,-46.635731
3,1004,Sao Paulo,SP,São Paulo,-23.550765,-23.549181,-23.549799,-46.635371,-46.634057,-46.634757
4,1005,Sao Paulo,SP,São Paulo,-23.549980,-23.548758,-23.549456,-46.638411,-46.634768,-46.636733

In [113]:
donnees.dtypes

geolocation_zip_code_prefix      int64
geolocation_city                object
geolocation_state               object
nom_etat                        object
lat_min                        float64
lat_max                        float64
lat_mean                       float64
lng_min                        float64
lng_max                        float64
lng_mean                       float64
dtype: object

In [114]:
donnees.to_sql('geolocation_dataset', 
                   con=connection,
                   if_exists='replace',
                   index=False,
                   dtype={ "geolocation_zip_code_prefix" :sqlalchemy.types.Integer(),
                           "geolocation_city"            :sqlalchemy.types.String(80),
                           "geolocation_state"           :sqlalchemy.types.String(80),
                           "nom_etat"                    :sqlalchemy.types.String(80),
                           "lat_min"                     :sqlalchemy.types.Float(),
                           "lat_max"                     :sqlalchemy.types.Float(),
                           "lat_mean"                    :sqlalchemy.types.Float(),
                           "lng_min"                     :sqlalchemy.types.Float(),
                           "lng_max"                     :sqlalchemy.types.Float(),
                           "lng_mean"                    :sqlalchemy.types.Float()
                          })

# Les clients
``olist_customers_dataset.csv``

Tous les colonnes de la dataframe sont de variables qualitatives

>> * Le fichier clients contient la description de l'adresse du client : Ville, CodePostal, Etat <br>
>> * Les indentifiants des clients permet de retrouver les commandes corespondantes  <br>
>> * L'identifiant du client n'est pas unique alors il faut utiliser identifiant unique <br>

In [4]:
clients = fichiers['olist_order_items_dataset.csv']

In [5]:
clients.order_id.nunique()

98666

In [6]:
clients = fichiers['olist_orders_dataset.csv']

In [7]:
clients.order_id.nunique()

99441

In [8]:
clients = fichiers['olist_customers_dataset.csv'].rename(columns={'customer_id':'client_id', 
                                       'customer_unique_id':'client_uid', 
                                       'customer_zip_code_prefix':'cl_cp',
                                       'customer_city':'ville', 
                                       'customer_state':'etat'},copy=False)
clients.set_index('client_id',inplace=True)
clients.head()

,client_uid,cl_cp,ville,etat
client_id,,,,
06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [9]:
clients.isna().sum()

client_uid    0
cl_cp         0
ville         0
etat          0
dtype: int64

In [10]:
clients.dtypes

client_uid    object
cl_cp          int64
ville         object
etat          object
dtype: object

In [11]:
clients.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99441 entries, 06b8999e2fba1a1fbc88172c00ba8bc7 to 274fa6071e5e17fe303b9748641082c8
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   client_uid  99441 non-null  object
 1   cl_cp       99441 non-null  int64
 2   ville       99441 non-null  object
 3   etat        99441 non-null  object
dtypes: int64(1), object(3)
memory usage: 3.8+ MB

In [12]:
clients.describe(include='all')

                              client_uid         cl_cp      ville   etat
count                              99441  99441.000000      99441  99441
unique                             96096           NaN       4119     27
top     8d50f5eadf50201ccdcedfb9e2ac8455           NaN  sao paulo     SP
freq                                  17           NaN      15540  41746
mean                                 NaN  35137.474583        NaN    NaN
std                                  NaN  29797.938996        NaN    NaN
min                                  NaN   1003.000000        NaN    NaN
25%                                  NaN  11347.000000        NaN    NaN
50%                                  NaN  24416.000000        NaN    NaN
75%                                  NaN  58900.000000        NaN    NaN
max                                  NaN  99990.000000        NaN    NaN

## L'analyse des clients doit être faite sur le numéro unique du client pas sur l'identifiant

In [13]:
print('lignes  \t: %d\nclient_id\t: %d\nclient_uid\t: %d'%
      (clients.shape[0],
       clients.reset_index().client_id.nunique(),
       clients.client_uid.nunique()))

lignes  	: 99441
client_id	: 99441
client_uid	: 96096

In [14]:
clients.ville.nunique()

4119

In [15]:
clients.ville = clients.ville.apply(nettoyer)

In [16]:
clients.ville.nunique()

4119

In [17]:
clients.reset_index().dtypes

client_id     object
client_uid    object
cl_cp          int64
ville         object
etat          object
dtype: object

## La création de la table clients dans Oracle 

Si la table existe on ne fait rien : <br>
>> ```
>>     select count(*) as exist 
>>     from user_tables
>>     where table_name = upper('%s')"""%('clients')
>> ```

La vue **user_table** permet de controler l'existence de la table (syntaxe uniquement valable en Oracle).

In [18]:
query = """select count(*) as exist 
           from user_tables
           where table_name = upper('%s')"""%('clients')
df = pd.read_sql_query(query, connection)
df.shape
df.exist

0    0
Name: exist, dtype: int64

In [19]:
query = """select * from user_tab_columns"""
df = pd.read_sql_query(query, connection)
df

Empty DataFrame
Columns: [table_name, column_name, data_type, data_type_mod, data_type_owner, data_length, data_precision, data_scale, nullable, column_id, default_length, data_default, num_distinct, low_value, high_value, density, num_nulls, num_buckets, last_analyzed, sample_size, character_set_name, char_col_decl_length, global_stats, user_stats, avg_col_len, char_length, char_used, v80_fmt_image, data_upgraded, histogram, default_on_null, identity_column, evaluation_edition, unusable_before, unusable_beginning, collation]
Index: []

[0 rows x 36 columns]

In [20]:
query = """select count(*) as exist 
           from user_tables
           where table_name = upper('%s')"""%('clients')
df = pd.read_sql_query(query, connection)

if df.exist[0] == 0 :
    clients.reset_index().to_sql('clients', 
                   con=connection,
                   if_exists='replace',
                   index=False,
                   dtype={ "client_id": sqlalchemy.types.String(80),
                           "client_uid": sqlalchemy.types.String(80),
                           "cl_cp": sqlalchemy.types.Integer(),
                           "ville": sqlalchemy.types.Unicode(120),
                           "etat": sqlalchemy.types.String(10)
                          })

# Les données de géolocalisation
``olist_geolocation_dataset.csv``

Dans ce fichier vous trouvez la correspondance entre le code postal et la localisation géographique des différentes viles des clients ou des vendeurs.

In [29]:
geolocation = fichiers['olist_geolocation_dataset.csv'].rename(columns={'geolocation_zip_code_prefix':'code_postal',
                                           'geolocation_city':'ville',
                                           'geolocation_state':'etat',
                                           'geolocation_lat':'latitude',
                                           'geolocation_lng':'longitude'}, copy=False)

geolocation.sort_values(['code_postal','ville','etat'],
                        ascending=[True,False,True]).head(5)

      code_postal   latitude  longitude      ville etat
575          1001 -23.549779 -46.633957  são paulo   SP
608          1001 -23.550263 -46.634196  são paulo   SP
1351         1001 -23.549951 -46.634027  são paulo   SP
99           1001 -23.549292 -46.633559  sao paulo   SP
206          1001 -23.550498 -46.634338  sao paulo   SP

In [14]:
dictEtats = {'AC':'Acre',              
             'AL':'Alagoas',
             'AP':'Amapá',
             'AM':'Amazonas',
             'BA':'Bahia',
             'CE':'Ceará',
             'ES':'Espírito Santo',
             'GO':'Goiás',
             'MA':'Maranhão',
             'MT':'Mato Grosso',
             'MS':'Mato Grosso do Sul', 
             'MG':'Minas Gerais',
             'PA':'Pará',
             'PB':'Paraïba',
             'PR':'Paraná',
             'PE':'Pernambouc',
             'PI':'Piauí',
             'RJ':'Rio de Janeiro',
             'RN':'Rio Grande do Norte',  
             'RS':'Rio Grande do Sul',
             'RO':'Rondônia',
             'RR':'Roraima',
             'SC':'Santa Catarina',
             'SP':'São Paulo',
             'SE':'Sergipe',
             'TO':'Tocantins',
             'DF':'District fédéral'} 
geolocation['nom_etat'] = geolocation.etat.apply(lambda x: dictEtats[x])
geolocation.ville       = geolocation.ville.apply(lambda x: str(x).title())

In [15]:
geolocation.columns

Index(['code_postal', 'latitude', 'longitude', 'ville', 'etat', 'nom_etat'], dtype='object')

In [16]:
geolocation.head()

   code_postal   latitude  longitude      ville etat   nom_etat
0         1037 -23.545621 -46.639292  Sao Paulo   SP  São Paulo
1         1046 -23.546081 -46.644820  Sao Paulo   SP  São Paulo
2         1046 -23.546129 -46.642951  Sao Paulo   SP  São Paulo
3         1041 -23.544392 -46.639499  Sao Paulo   SP  São Paulo
4         1035 -23.541578 -46.641607  Sao Paulo   SP  São Paulo

In [17]:
query = """select count(*) as exist 
           from user_tables
           where table_name = upper('%s')"""%('geolocation_origine')
df = pd.read_sql_query(query, connection)

if df.exist[0] == 0 :
    geolocation.to_sql('geolocation_origine', 
                   con=connection,
                   if_exists='replace',
                   index=False,
                   dtype={"code_postal"   : sqlalchemy.types.Integer(),
                          "latitude"      : sqlalchemy.types.Float(),
                          "longitude"     : sqlalchemy.types.Float(),
                          "ville"         : sqlalchemy.types.String(80),
                          "etat"          : sqlalchemy.types.String(80),
                          "nom_etat"      : sqlalchemy.types.String(80)})

In [ ]:
geolocation = fichiers['olist_geolocation_dataset.csv'].rename(columns={'geolocation_zip_code_prefix':'code_postal',
                                           'geolocation_city':'ville',
                                           'geolocation_state':'etat',
                                           'geolocation_lat':'latitude',
                                           'geolocation_lng':'longitude'}, copy=False)

geolocation.sort_values(['code_postal','ville','etat'],
                        ascending=[True,False,True]).head(5)

In [30]:
geolocation.code_postal.nunique(),geolocation.groupby(['code_postal','ville','etat']).count().shape,geolocation.groupby(['code_postal','ville']).count().shape

(19015, (27912, 2), (27907, 3))

In [35]:
geolocation.isna().sum()

code_postal    0
latitude       0
longitude      0
ville          0
etat           0
dtype: int64

In [36]:
geolocation.dtypes

code_postal      int64
latitude       float64
longitude      float64
ville           object
etat            object
dtype: object

## La transformation des noms des villes

In [31]:
print("nombre des lignes : %d\n"\
      "nombre de codes postaux uniques : %d"\
      "\nnombre de (code postal,ville, état) uniques : %d"%(
         geolocation.shape[0], 
         geolocation.code_postal.nunique(),
         geolocation.groupby(['code_postal','ville','etat']).nunique().shape[0]))

nombre des lignes : 1000163
nombre de codes postaux uniques : 19015
nombre de (code postal,ville, état) uniques : 27912

In [37]:
geolocation.ville = geolocation.ville.apply(nettoyer)

In [38]:
geolocation.etat = geolocation.etat.apply(nettoyer)

In [39]:
geolocation.sort_values(['code_postal','ville','etat'],
                        ascending=[True,False,True]).head(5)

     code_postal   latitude  longitude      ville etat
99          1001 -23.549292 -46.633559  sao paulo   sp
206         1001 -23.550498 -46.634338  sao paulo   sp
235         1001 -23.550642 -46.634410  sao paulo   sp
299         1001 -23.549698 -46.633909  sao paulo   sp
326         1001 -23.551427 -46.634074  sao paulo   sp

In [41]:
geolocation.code_postal.nunique(),\
geolocation.groupby(['code_postal','ville','etat']).count().shape,\
geolocation.groupby(['code_postal','ville']).count().shape

(19015, (19617, 2), (19612, 3))

In [40]:
geo01 = geolocation.groupby(['code_postal']).agg({'latitude':['min','max','mean'],
                                          'longitude':['min','max','mean']}).reset_index()
geo01.columns = [ col[0]+'_'+col[1] if col[0] != 'code_postal' else col[0] for col in geo01.columns ]

In [41]:
geo02 = geolocation.assign( rn = geolocation.sort_values(
                                                 ['ville','latitude','longitude']
                                                 ).groupby(['code_postal']).cumcount()+1
                  ).query('rn < 2').sort_values(['code_postal','rn']).drop(columns=['rn','latitude','longitude'])

In [42]:
geolocation = geo02.merge(geo01,on='code_postal')

In [43]:
dictEtats = {'AC':'Acre',              
             'AL':'Alagoas',
             'AP':'Amapá',
             'AM':'Amazonas',
             'BA':'Bahia',
             'CE':'Ceará',
             'ES':'Espírito Santo',
             'GO':'Goiás',
             'MA':'Maranhão',
             'MT':'Mato Grosso',
             'MS':'Mato Grosso do Sul', 
             'MG':'Minas Gerais',
             'PA':'Pará',
             'PB':'Paraïba',
             'PR':'Paraná',
             'PE':'Pernambouc',
             'PI':'Piauí',
             'RJ':'Rio de Janeiro',
             'RN':'Rio Grande do Norte',  
             'RS':'Rio Grande do Sul',
             'RO':'Rondônia',
             'RR':'Roraima',
             'SC':'Santa Catarina',
             'SP':'São Paulo',
             'SE':'Sergipe',
             'TO':'Tocantins',
             'DF':'District fédéral'} 
geolocation['nom_etat'] = geolocation.etat.apply(lambda x: dictEtats[x])
geolocation.ville       = geolocation.ville.apply(lambda x: str(x).title())

In [44]:
geolocation = geolocation[['code_postal', 'ville', 'etat','nom_etat',
                            'latitude_mean','longitude_mean',
                            'latitude_min', 'latitude_max',
                            'longitude_min', 'longitude_max']]

In [45]:
geolocation.dtypes

code_postal         int64
ville              object
etat               object
nom_etat           object
latitude_mean     float64
longitude_mean    float64
latitude_min      float64
latitude_max      float64
longitude_min     float64
longitude_max     float64
dtype: object

In [46]:
query = """select count(*) as exist 
           from user_tables
           where table_name = upper('%s')"""%('geolocation')
df = pd.read_sql_query(query, connection)

if df.exist[0] == 0 :
    geolocation.to_sql('geolocation', 
                   con=connection,
                   if_exists='replace',
                   index=False,
                   dtype={"code_postal"   : sqlalchemy.types.Integer(),
                          "ville"         : sqlalchemy.types.String(80),
                          "etat"          : sqlalchemy.types.String(80),
                          "nom_etat"      : sqlalchemy.types.String(80),
                          "latitude_mean" : sqlalchemy.types.Float(),
                          "longitude_mean": sqlalchemy.types.Float(),
                          "latitude_min"  : sqlalchemy.types.Float(),
                          "latitude_max"  : sqlalchemy.types.Float(),
                          "longitude_min" : sqlalchemy.types.Float(),
                          "longitude_max" : sqlalchemy.types.Float()})

# Les données de géolocalisation des vendeurs
``olist_sellers_dataset.csv``

In [3]:
vendeurs = fichiers['olist_sellers_dataset.csv'].rename(columns={
                                           'seller_id':'vendeur_id',
                                           'seller_zip_code_prefix':'cp_vendeur'}, 
                                           copy=False).drop(columns=['seller_city','seller_state'])
vendeurs.head()

                         vendeur_id  cp_vendeur
0  3442f8959a84dea7ee197c632cb2df15       13023
1  d1b65fc7debc3361ea86b5f14c68d2e2       13844
2  ce3ad9de960102d0677a81f5d0bb7b2d       20031
3  c0f3eea2e14555b6faeea3dd58c1b1c3        4195
4  51a04a8a6bdcb23deccc82b0b80742cf       12914

In [4]:
vendeurs.dtypes

vendeur_id    object
cp_vendeur     int64
dtype: object

In [5]:
query = """select count(*) as exist 
           from user_tables
           where table_name = upper('%s')"""%('vendeurs')
df = pd.read_sql_query(query, connection)

if df.exist[0] == 0 :
    vendeurs.to_sql('vendeurs', 
                   con=connection,
                   if_exists='replace',
                   index=False,
                   dtype={"vendeur_id"   : sqlalchemy.types.String(80),
                          "cp_vendeur"   : sqlalchemy.types.Integer()})

# Les données des commandes

``olist_orders_dataset.csv``

In [28]:
commandes = fichiers['olist_orders_dataset.csv']
commandes.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [29]:
commandes.dtypes

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

In [31]:
commandes.order_purchase_timestamp = commandes.order_purchase_timestamp.apply(
                   lambda x: pd.to_datetime(x, format='%Y-%m-%d %H:%M:%S',errors='ignore'))
commandes.order_approved_at = commandes.order_approved_at.apply(
                   lambda x: pd.to_datetime(x, format='%Y-%m-%d %H:%M:%S',errors='ignore'))
commandes.order_delivered_carrier_date = commandes.order_delivered_carrier_date.apply(
                   lambda x: pd.to_datetime(x, format='%Y-%m-%d %H:%M:%S',errors='ignore'))
commandes.order_delivered_customer_date = commandes.order_delivered_customer_date.apply(
                   lambda x: pd.to_datetime(x, format='%Y-%m-%d %H:%M:%S',errors='ignore'))
commandes.order_estimated_delivery_date = commandes.order_estimated_delivery_date.apply(
                   lambda x: pd.to_datetime(x, format='%Y-%m-%d %H:%M:%S',errors='ignore'))

In [30]:
commandes.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [35]:
commandes.dtypes

order_id                                 object
customer_id                              object
order_status                             object
order_purchase_timestamp         datetime64[ns]
order_approved_at                datetime64[ns]
order_delivered_carrier_date     datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
dtype: object

In [36]:
commandes.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [37]:
commandes.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26

In [38]:
commandes.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date'],
      dtype='object')

In [40]:
commandes.rename(columns={'order_id'                     :'commande_id'  ,
'customer_id'                  :'client_id'    ,
'order_status'                 :'statut'       ,
'order_purchase_timestamp'     :'commandee'    ,
'order_approved_at'            :'validee'      ,
'order_delivered_carrier_date' :'envoyee'      ,
'order_delivered_customer_date':'livree'       ,
'order_estimated_delivery_date':'estimation'}, inplace=True)

In [46]:
dictStrIntOS ={ 'shipped'    :'expediée'    ,
                    'canceled'   :'annulée'     ,
                    'approved'   :'validée'     ,
                    'invoiced'   :'facturée'    ,
                    'created'    :'créée'       ,
                    'delivered'  :'livrée'      ,
                    'unavailable':'indisponible',
                    'processing' :'en cours'
                    }
commandes.statut = commandes.statut.apply(lambda x: dictStrIntOS[x])

In [58]:
commandes.head()

,commande_id,client_id,statut,commandee,validee,envoyee,livree,estimation
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,livrée,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,livrée,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,livrée,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,livrée,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,livrée,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26

In [59]:
query = """select count(*) as exist 
           from user_tables
           where table_name = upper('%s')"""%('commandes')
df = pd.read_sql_query(query, connection)

if df.exist[0] == 0 :
    commandes.to_sql('commandes', 
                   con=connection,
                   if_exists='replace',
                   index=False,
                   dtype={'commande_id':  sqlalchemy.types.String(80),
                          'client_id'  :  sqlalchemy.types.String(80),
                          'statut'     :  sqlalchemy.types.String(80),
                          'commandee'  :  sqlalchemy.types.DateTime(),
                          'validee'    :  sqlalchemy.types.DateTime(),
                          'envoyee'    :  sqlalchemy.types.DateTime(),
                          'livree'     :  sqlalchemy.types.DateTime(),
                          'estimation' :  sqlalchemy.types.DateTime() })

# Les données des détails commandes

``olist_order_items_dataset.csv``

In [130]:
details_commandes = fichiers['olist_order_items_dataset.csv']
details_commandes.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [129]:
details_commandes.dtypes

order_id                object
order_item_id            int64
product_id              object
seller_id               object
shipping_limit_date     object
price                  float64
freight_value          float64
dtype: object

In [51]:
details_commandes.rename(columns={'order_id'                     :'commande_id'  ,
                                  'order_item_id'                :'comm_index'   , 
                                  'product_id'                   :'produit_id'    ,
                                  'seller_id'                    :'vendeur_id'   ,
                                  'shipping_limit_date'          :'limite'       ,
                                  'price'                        :'prix'         ,
                                  'freight_value'                :'assurance' }, inplace=True)

In [54]:
details_commandes.limite = details_commandes.limite.apply(
                   lambda x: pd.to_datetime(x, format='%Y-%m-%d %H:%M:%S',errors='ignore'))
details_commandes.head()

,commande_id,comm_index,produit_id,vendeur_id,limite,prix,assurance
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [57]:
query = """select count(*) as exist 
           from user_tables
           where table_name = upper('%s')"""%('details_commandes')
df = pd.read_sql_query(query, connection)

if df.exist[0] == 0 :
    details_commandes.to_sql('details_commandes', 
                   con=connection,
                   if_exists='replace',
                   index=False,
                   dtype={"commande_id" : sqlalchemy.types.String(80),
                          "comm_index"  : sqlalchemy.types.Integer(),
                          "produit_id"  : sqlalchemy.types.String(80),
                          "vendeur_id"  : sqlalchemy.types.String(80),
                          "limite"      : sqlalchemy.types.DateTime(),
                          "prix"        : sqlalchemy.types.Float(),
                          "assurance"   : sqlalchemy.types.Float()})

In [55]:
details_commandes.dtypes

commande_id            object
comm_index              int64
produit_id             object
vendeur_id             object
limite         datetime64[ns]
prix                  float64
assurance             float64
dtype: object

# Les données des descriptions commandes

``olist_order_reviews_dataset.csv``

In [131]:
commentaire_commandes = fichiers['olist_order_reviews_dataset.csv']

In [132]:
commentaire_commandes.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [134]:
commentaire_commandes.shape,commentaire_commandes.review_id.nunique(),commentaire_commandes.order_id.nunique()

((100000, 7), 99173, 99441)

In [140]:
commentaire_commandes.groupby(['review_id','order_id']).agg({'review_score':'count'}).shape

(100000, 1)

In [75]:
commentaire_commandes.review_creation_date = commentaire_commandes.review_creation_date.apply(
                   lambda x: pd.to_datetime(x, format='%Y-%m-%d %H:%M:%S',errors='ignore'))
commentaire_commandes.review_answer_timestamp = commentaire_commandes.review_answer_timestamp.apply(
                   lambda x: pd.to_datetime(x, format='%Y-%m-%d %H:%M:%S',errors='ignore'))

In [76]:
commentaire_commandes.dtypes

review_id                          object
order_id                           object
review_score                        int64
review_comment_title               object
review_comment_message             object
review_creation_date       datetime64[ns]
review_answer_timestamp    datetime64[ns]
dtype: object

In [78]:
commentaire_commandes.review_comment_title.apply(lambda x : len(str(x))).max(),\
commentaire_commandes.review_comment_message.apply(lambda x : len(str(x))).max()

(26, 208)

In [79]:
commentaire_commandes.rename(columns={
                                  'review_id'                :'comm_index'   , 
                                  'order_id'                 :'commande_id'  ,
                                  'review_score'             :'evaluation'    ,
                                  'review_comment_title'     :'titre'   ,
                                  'review_comment_message'   :'commentaire'   ,
                                  'review_creation_date'     :'creation'       ,
                                  'review_answer_timestamp'  :'reponse' }, inplace=True)

In [81]:
commentaire_commandes.dtypes

comm_index             object
commande_id            object
evaluation              int64
titre                  object
commentaire            object
creation       datetime64[ns]
reponse        datetime64[ns]
dtype: object

In [82]:
query = """select count(*) as exist 
           from user_tables
           where table_name = upper('%s')"""%('commentaire_commandes')
df = pd.read_sql_query(query, connection)

if df.exist[0] == 0 :
    commentaire_commandes.to_sql('commentaire_commandes', 
                   con=connection,
                   if_exists='replace',
                   index=False,
                   dtype={"comm_index"  :sqlalchemy.types.String(80),
                          "commande_id" :sqlalchemy.types.String(80),
                          "evaluation"  :sqlalchemy.types.Integer(),
                          "titre"       :sqlalchemy.types.String(80),
                          "commentaire" :sqlalchemy.types.String(300),
                          "creation"    :sqlalchemy.types.DateTime(),
                          "reponse"     :sqlalchemy.types.DateTime()})

# Les données des paiements

``olist_order_payments_dataset.csv``

In [83]:
paiements = fichiers['olist_order_payments_dataset.csv']

In [84]:
paiements.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [86]:
paiements.rename(columns={'order_id'             :'commande_id'  ,
                          'payment_sequential'   :'sequence'    ,
                          'payment_type'         :'type'   ,
                          'payment_installments' :'versements'  ,
                          'payment_value'        :'montant'    }, inplace=True)

In [89]:
paiements.dtypes

commande_id     object
sequence         int64
type            object
versements       int64
montant        float64
dtype: object

In [90]:
query = """select count(*) as exist 
           from user_tables
           where table_name = upper('%s')"""%('paiements')
df = pd.read_sql_query(query, connection)

if df.exist[0] == 0 :
    paiements.to_sql('paiements', 
                   con=connection,
                   if_exists='replace',
                   index=False,
                   dtype={"commande_id":sqlalchemy.types.String(80),
                          "sequence"   :sqlalchemy.types.Integer(),
                          "type"       :sqlalchemy.types.String(80),
                          "versements" :sqlalchemy.types.Integer(),
                          "montant"    :sqlalchemy.types.Float()})

# Les données des produits

``olist_products_dataset.csv`` <br>
``product_category_name_translation.csv``

In [115]:
produits = fichiers['olist_products_dataset.csv']
categories=fichiers['product_category_name_translation.csv']

In [116]:
produits.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [117]:
donnees = produits.merge(categories,how='left',on='product_category_name')

In [118]:
donnees.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,art
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0,sports_leisure
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0,baby
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0,housewares

In [119]:
donnees.product_category_name_english[donnees.product_category_name_english.isna() & 
                                       (donnees.product_category_name == 'pc_gamer') ] = 'pc_gamer'
donnees.product_category_name_english[donnees.product_category_name_english.isna() & 
                                       (donnees.product_category_name == 'portateis_cozinha_e_preparadores_de_alimentos') ] = 'kitchenware_tools_and_gadget'

<ipython-input-119-0b755247f071>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  donnees.product_category_name_english[donnees.product_category_name_english.isna() &
<ipython-input-119-0b755247f071>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  donnees.product_category_name_english[donnees.product_category_name_english.isna() &

In [121]:
donnees.product_category_name_english.fillna('not documented',inplace=True)

In [122]:
donnees.isna().sum()

product_id                         0
product_category_name            610
product_name_lenght              610
product_description_lenght       610
product_photos_qty               610
product_weight_g                   2
product_length_cm                  2
product_height_cm                  2
product_width_cm                   2
product_category_name_english      0
dtype: int64

In [123]:
donnees.dtypes

product_id                        object
product_category_name             object
product_name_lenght              float64
product_description_lenght       float64
product_photos_qty               float64
product_weight_g                 float64
product_length_cm                float64
product_height_cm                float64
product_width_cm                 float64
product_category_name_english     object
dtype: object

In [125]:
donnees.to_sql('products_dataset', 
                   con=connection,
                   if_exists='replace',
                   index=False,
                   dtype={"product_id"                       :sqlalchemy.types.String(80),
                          "product_category_name"            :sqlalchemy.types.String(80),
                          "product_name_lenght"              :sqlalchemy.types.Float(),
                          "product_description_lenght"       :sqlalchemy.types.Float(),
                          "product_photos_qty"               :sqlalchemy.types.Float(),
                          "product_weight_g"                 :sqlalchemy.types.Float(),
                          "product_length_cm"                :sqlalchemy.types.Float(),
                          "product_height_cm"                :sqlalchemy.types.Float(),
                          "product_width_cm"                 :sqlalchemy.types.Float(),
                          "product_category_name_english"    :sqlalchemy.types.String(80)})

In [19]:
produits.rename(columns={'product_id'                 :'produit_id',
                         'product_category_name'      :'categorie',
                         'product_name_lenght'        :'longueur_nom',
                         'product_description_lenght' :'longueur_desc',
                         'product_photos_qty'         :'nb_photos',
                         'product_weight_g'           :'poids_g',
                         'product_length_cm'          :'longueur_cm',
                         'product_height_cm'          :'hauteur_cm',
                         'product_width_cm'           :'largeur_cm' },inplace=True)
categories.rename(columns={'product_category_name'         :'categorie',
                            'product_category_name_english' :'categorie_en'},inplace=True)

In [20]:
produits.columns

Index(['produit_id', 'categorie', 'longueur_nom', 'longueur_desc', 'nb_photos',
       'poids_g', 'longueur_cm', 'hauteur_cm', 'largeur_cm'],
      dtype='object')

In [21]:
categories.columns

Index(['categorie', 'categorie_en'], dtype='object')

In [24]:
.dtypes

produit_id        object
categorie         object
longueur_nom     float64
longueur_desc    float64
nb_photos        float64
poids_g          float64
longueur_cm      float64
hauteur_cm       float64
largeur_cm       float64
categorie_en      object
dtype: object

In [106]:
produits.head()

,produit_id,categorie,longueur_nom,longueur_desc,nb_photos,poids_g,longueur_cm,hauteur_cm,largeur_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [107]:
categories.head()

                categorie            categorieEN
0            beleza_saude          health_beauty
1  informatica_acessorios  computers_accessories
2              automotivo                   auto
3         cama_mesa_banho         bed_bath_table
4        moveis_decoracao        furniture_decor

In [108]:
produits.categorie.nunique(),categories.categorie.nunique()

(73, 71)

In [109]:
produits = produits.merge(categories,how='left',on='categorie')

In [110]:
produits.head()

,produit_id,categorie,longueur_nom,longueur_desc,nb_photos,poids_g,longueur_cm,hauteur_cm,largeur_cm,categorieEN
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,art
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0,sports_leisure
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0,baby
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0,housewares

In [114]:
produits[['categorie','categorieEN']][produits.categorieEN.isna()].drop_duplicates()

    categorie categorieEN
105       NaN         NaN

In [120]:
produits.shape

(32951, 10)

In [118]:
produits.head()

,produit_id,categorie,longueur_nom,longueur_desc,nb_photos,poids_g,longueur_cm,hauteur_cm,largeur_cm,categorieEN
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,art
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0,sports_leisure
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0,baby
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0,housewares

In [119]:
produits.dtypes

produit_id        object
categorie         object
longueur_nom     float64
longueur_desc    float64
nb_photos        float64
poids_g          float64
longueur_cm      float64
hauteur_cm       float64
largeur_cm       float64
categorieEN       object
dtype: object

In [121]:
query = """select count(*) as exist 
           from user_tables
           where table_name = upper('%s')"""%('produits')
df = pd.read_sql_query(query, connection)

if df.exist[0] == 0 :
    produits.to_sql('produits', 
                   con=connection,
                   if_exists='replace',
                   index=False,
                   dtype={"produit_id"   :sqlalchemy.types.String(80),
                          "categorie"    :sqlalchemy.types.String(80),
                          "longueur_nom" :sqlalchemy.types.Float(),
                          "longueur_desc":sqlalchemy.types.Float(),
                          "nb_photos"    :sqlalchemy.types.Float(),
                          "poids_g"      :sqlalchemy.types.Float(),
                          "longueur_cm"  :sqlalchemy.types.Float(),
                          "hauteur_cm"   :sqlalchemy.types.Float(),
                          "largeur_cm"   :sqlalchemy.types.Float(),
                          "categorieEN"  :sqlalchemy.types.String(80)})

In [7]:
produits.sort_values('product_category_name').product_category_name.unique()

array(['agro_industria_e_comercio', 'alimentos', 'alimentos_bebidas',
       'artes', 'artes_e_artesanato', 'artigos_de_festas',
       'artigos_de_natal', 'audio', 'automotivo', 'bebes', 'bebidas',
       'beleza_saude', 'brinquedos', 'cama_mesa_banho', 'casa_conforto',
       'casa_conforto_2', 'casa_construcao', 'cds_dvds_musicais',
       'cine_foto', 'climatizacao', 'consoles_games',
       'construcao_ferramentas_construcao',
       'construcao_ferramentas_ferramentas',
       'construcao_ferramentas_iluminacao',
       'construcao_ferramentas_jardim',
       'construcao_ferramentas_seguranca', 'cool_stuff', 'dvds_blu_ray',
       'eletrodomesticos', 'eletrodomesticos_2', 'eletronicos',
       'eletroportateis', 'esporte_lazer', 'fashion_bolsas_e_acessorios',
       'fashion_calcados', 'fashion_esporte', 'fashion_roupa_feminina',
       'fashion_roupa_infanto_juvenil', 'fashion_roupa_masculina',
       'fashion_underwear_e_moda_praia', 'ferramentas_jardim', 'flores',
       'fraldas_higiene', 'industria_comercio_e_negocios',
       'informatica_acessorios', 'instrumentos_musicais', 'la_cuisine',
       'livros_importados', 'livros_interesse_geral', 'livros_tecnicos',
       'malas_acessorios', 'market_place', 'moveis_colchao_e_estofado',
       'moveis_cozinha_area_de_servico_jantar_e_jardim',
       'moveis_decoracao', 'moveis_escritorio', 'moveis_quarto',
       'moveis_sala', 'musica', 'papelaria', 'pc_gamer', 'pcs',
       'perfumaria', 'pet_shop', 'portateis_casa_forno_e_cafe',
       'portateis_cozinha_e_preparadores_de_alimentos',
       'relogios_presentes', 'seguros_e_servicos',
       'sinalizacao_e_seguranca', 'tablets_impressao_imagem', 'telefonia',
       'telefonia_fixa', 'utilidades_domesticas', nan], dtype=object)

In [8]:
produits[produits.product_category_name.isna()].merge(fichiers['olist_order_items_dataset.csv'],on='product_id').product_id.nunique()

610

In [21]:
fichiers['product_category_name_translation.csv'].head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [24]:
fichiers['product_category_name_translation.csv'].isna().sum()

product_category_name            0
product_category_name_english    0
dtype: int64

In [22]:
fichiers['product_category_name_translation.csv'].describe(include='all')

       product_category_name            product_category_name_english
count                     71                                       71
unique                    71                                       71
top          casa_construcao  kitchen_dining_laundry_garden_furniture
freq                       1                                        1

In [23]:
produits.sort_values('product_category_name').product_category_name.nunique()

73